set keymap vi
set editing-mode vi

# ORIGIN: global inputrc
# /etc/inputrc - global inputrc for libreadline
# See readline(3readline) and `info rluserman' for more information.

# Be 8 bit clean.
set input-meta on
set output-meta on

# END: global inputrc
