set keymap vi
set editing-mode vi
set show-mode-in-prompt on

# /etc/inputrc - global inputrc for libreadline
# See readline(3readline) and `info rluserman' for more information.
$include /etc/inputrc

# Profanity should be able show the mode in prompt... it gets confusing sometimes.
# Completions with C-{n,p} would be nice too.
set keymap vi-command
$if profanity
	"gp": prof_win_prev
	"gn": prof_win_next
	"gb": prof_win_pageup
	"gf": prof_win_pagedown
	"gu": prof_subwin_pageup
	"gd": prof_subwin_pagedown
$endif
