set keymap vi
set editing-mode vi
set show-mode-in-prompt on

# /etc/inputrc - global inputrc for libreadline
# See readline(3readline) and `info rluserman' for more information.
$include /etc/inputrc


$if profanity
	"\C-p": prof_win_prev
	"\C-n": prof_win_next
	"\C-k": prof_win_pageup
	"\C-j": prof_win_pagedown
	"\C-h": prof_subwin_pageup
	"\C-l": prof_subwin_pagedown
$endif
